<div class="container" id="home-container">
  <div id="home-left" class="col-md-5">
    <h3 class="sub-header">Damaged Packages</h3>
    <div id="laser-ticket">
      <table id ="ticketTable" class="table table-hover table-responsive header-fixed-query">
        <thead>
          <tr>
            <th>ID</th>
            <th>Handled</th>
          </tr>
        </thead>
        <tbody>
          <tr class="empty">
            <td class="empty"></td>
            <td class="empty"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="home-right" class="col-md-7">
    <h3 class="sub-header">Overview</h3>
    <div id="home-right-content">
      <div id="chart_div"></div>
      <h5>Damaged Parts Per Week</h5>
      <p>14</p>
      <h5>Most Frequent Damage Location</h5>
      <p>14</p>
      <h5>Open Tickets</h5>
      <p>14</p>
    </div>
  </div>
</div>