<div class="container" id="query-container">
  <input type="text" id="queryBar" placeholder="Search Tracking ID And Press Enter..." class ="form-control"></input>
  <div id="ticket-views">
    <table id ="queryTable" class="table table-hover table-responsive header-fixed" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Handled</th>
        </tr>
      </thead>
      <tbody>
        <tr class="empty">
          <td class="empty"></td>
          <td class="empty"></td>
          <td class="empty"></td>
          <td class="empty"></td>
          <td class="empty"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>